<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
<body>
    <nav>
        <a href="{% url 'home' %}">Sticky Notes</a>
    </nav>
    {% for note in notes %}
        <h3>{{ note.note_text }}</h3>
        <p>{{ note.created_at }}</p>
        <form method="post" action="{% url 'delete_note' note.pk %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        <br>
        <form method="post" action="{% url 'update_note' note.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Edit</button>
        </form>
    {% endfor %}
    <button><a href="{% url 'create_note' %}">Create Note</a></button>
</body>
</html>