{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/7c27cadb0a.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sticky Notes</title>
  </head>
  <body>
    <main>
        {% block content %}
      <nav>
        <h1>My notes</h1>
        <a href="{% url 'create_note' %}"> <i class="fa-solid fa-plus"></i> &nbsp; Add a note</a>
      </nav>
      <section>
        {% for note in notes %}
        <article>
          <p>
            {{ note.note_text }}
          </p>
          <div>
            <p>{{ note.created_at }}</p>
            <span>
                <a href="{% url 'update_note' note.pk %}"><i class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'delete_note' note.pk %}"><i class="fa-regular fa-trash-can"></i></a>
            </span>
          </div>
        </article>
        {% endfor %}
      </section>
      {% endblock %}
    </main>
  </body>
</html>