{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav class="navbar navbar-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 fs-1 fw-bold mx-auto">Create StickyNotes</span>
    </div>
</nav>
<body>
    <main>
    <form method="post" action="{% url 'create_note' %}" autocomplete="off">
        {% csrf_token %}
        {{form| crispy}}
        <div class="d-grid gap-2">
            <button class="btn btn-primary fs-3" type="submit" style="background-color: #0A1336;">Add New Notes</button>
          </div>
    </form>
    </main>
</body>
{% endblock %}