.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

nav {
  background: #0a1336;
  font-family: "DM Sans";
  font-style: normal;
  margin: 0;
  padding: 0;
}

nav > a {
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
}

.btn {
  background: #0a1336;
  border-radius: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 35px;
  left: 75rem;
  top: 130px;
  color: white;
  text-decoration: none;
}

.container > a {
    text-decoration: none;
    background-color: #9e1e1e;
    color: #ffffff;
    width: 60px;
    text-align: center;
    border-radius: 10px;
}